<h1>Ads</h1>
<% @advertisements.each do |ads| %>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to "$#{ads.price}: #{ads.title}", ads %>
    </h4>
  </div>
</div>
<% end %>
