// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn a {
  color: white;
}

.social-btn a:hover {
  color: white;
  text-decoration: none;
}

.jumbotron {
	background-image: url("background-bloccit.jpeg");
	background-size: cover;
	background-position: center center;
}

.bg {
	color: white;
	text-align: right;
	text-shadow: 2px 2px .5px black;
}
